<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>259557209560-r944eg0t5k2eipdkk76p1clq3fkgp05o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.259557209560-r944eg0t5k2eipdkk76p1clq3fkgp05o</string>
	<key>API_KEY</key>
	<string>AIzaSyBDxR6SLX0lErV6pqNcZ9-OWX_gYMdoQGQ</string>
	<key>GCM_SENDER_ID</key>
	<string>259557209560</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.devluqman.personalnotes</string>
	<key>PROJECT_ID</key>
	<string>flutter-personalnotes</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-personalnotes.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:259557209560:ios:fdbcaa2b10640d0b666ead</string>
</dict>
</plist>